body{
    margin: 0;
    padding: 0;
    display: flex;
    font-family: fantasy;
    align-items: center;
    justify-content: center;
}
.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 200px;
    justify-content: center;
}
.game{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 568px;
    height: 568px;
    border: 1px solid black; 
    background-color: blue;   
}
.hole{
    width: 182px;
    height: 182px;
    border: 1px solid black;
    overflow: hidden;
}
.mole{
    background-color: red;
    background-size: contain;

}
h1{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 0;
    color: black;
  }
h2{ 
    text-align: center;
    font-size: 2rem;
}
.time{
    text-align: center;
    font-size: 1rem;
}
.score{
    text-align: center;
    font-size: 1rem;
}
.start{
    margin-top: 10px;
  
    padding: 10px 20px;
    width: 10%;
    border-color: solid black;
}


