body{
    margin: 0;
    padding: 0;
    /* display: flex; */
    font-family: fantasy;
    /* align-items: center;
    justify-content: center; */
    background-image: url(./img/patron-vector-transparente-martillo_615826-302.webp);
}
.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 200px;    
}
.game{
    background-image: url("./img/game.jpg");
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 568px;
    height: 568px;
    border: 4px solid black; 
     
}
.hole{
    display: flex;
    align-items: center;
    justify-content: center;
   
    width: 182px;
    height: 182px;    
    overflow: hidden;
    /* border: 1px solid red; */
}
.mole{
   
    width: 100px;
    height: 100px;   
}
h1{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 0;
    color: black;
  }

.time{
    text-align: center;
    font-size: 1.5rem;
}
.score{
    text-align: center;
    font-size: 1.5rem;
}
.start{
    /* margin-top: 10px; */
    text-align: center;
    padding: 10px 50px;    
    border-color: 2px solid black;
}





